<%
  let label = '';
  let text = '';
  let id = '';
  let citationIndex = 0;
  let footnoteIndex = 0;
  let timestamp = '';
  let isGoogle = false;
  let lang = '';
  const outerClassName = 'datum datum-text datum-editable datum-cited';
  const headerClassName = 'heading-datum';
  if (locals.headerClass) headerClass += ` ${locals.headerClass}`;
  if (locals.fieldName && locals.data && Array.isArray(locals.data.text)) {
    const datum = locals.data.text.find(n => (n.fieldName === locals.fieldName));
    if (datum) {
      id = datum.id || '';
      label = datum.label || '';
      text = datum.text || '';
      lang = datum.lang;
      // timestamp = datum.timestamp;
      // isGoogle = timestamp.includes('google');
      if (locals.citations && datum.citation) {
        citationIndex = locals.citations.push(datum.citation);
      }
      if (locals.footnotes && datum.footnote) {
        footnoteIndex = locals.footnotes.push(datum.footnote);
      }
    }
    // console.log(datum.timestamps, lang);
  }
%>
<div
  class="<%= outerClassName %>"
  data-id="<%= id %>"
  data-lang="<%= lang %>">
  <div class="<%= headerClassName %>">
    <span class="datum-label"><%= label %></span>
    <% if (citationIndex) { %> <sup>[<%= citationIndex %>]</sup><% } %>
    <% if (footnoteIndex) { %> <sup>(<%= footnoteIndex %>)</sup><% } %>
  </div>
  <div class="content-datum"><%- text %></div>
</div>