<%
  let datumLabel = '';
  let datumText = '';
  let datumLocale = {};
  let datumId = '';
  let citationIndex = 0;
  let footnoteIndex = 0;
  const outerClassName = 'datum datum-text datum-editable datum-cited';
  const headerClassName = 'heading-datum';
  if (locals.headerClass) headerClass += ` ${locals.headerClass}`;
  if (locals.fieldName && locals.data && Array.isArray(locals.data.text)) {
    const datum = locals.data.text.find(n => (n.fieldName === locals.fieldName));
    if (datum) {
      datumId = datum.id || '';
      datumLabel = datum.label || '';
      datumText = datum.text || '';
      if (locals.citations && datum.citation) {
        citationIndex = locals.citations.push(datum.citation);
      }
      if (locals.footnotes && datum.footnote) {
        footnoteIndex = locals.footnotes.push(datum.footnote);
      }
    }
  }
%>
<div
  class="<%= outerClassName %>"
  data-id="<%= datumId %>"
  data-langs="<%= locals.srcLangs %>">
  <div class="<%= headerClassName %>">
    <%= datumLabel %>
    <% if (citationIndex) { %> <sup>[<%= citationIndex %>]</sup><% } %>
    <% if (footnoteIndex) { %> <sup>(<%= footnoteIndex %>)</sup><% } %>
  </div>
  <div class="content-datum"><%- datumText %></div>
</div>