<%
  const datum = locals.datum;
  let rec;
  let string = '';
  let label = '';
  let timestamps = '';
  if (datum && locals.propertyName) {
    timestamps = (datum.timestamps || []).filter(t => (t.includes(propertyName))) || [];
    rec = locals.datum[locals.propertyName];
    string = (rec.string || '').trim();
    label = rec.label ||'';
  }
  let outerClassName = 'datum datum-partnership datum-string datum-editable';
  if (!string.length) outerClassName += ' hidden'; // include ability to "hide" empty property fields
%>

<% if (rec) { %>
<div
  class="<%= outerClassName %>"
  data-id="<%= datum.id %>"
  data-timestamps="<%= timestamps %>"
  data-propertyname="<%= locals.propertyName %>">
  <div class="heading-datum"><%= label %></div>
  <div class="content-datum"><%- string %></div>
</div>
<% } %>

